<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong>欢迎登录</strong></h1>
          <div class="description">
            <p>
              这是一个二手车直卖系统,作者:<a><strong>张自强</strong></a>, 旨在对二手车卖来卖去!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>登录我们的系统</h3>
              <p>填写您的用户名和密码</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div  class="form-bottom">
            <form action="/login"  method="post" class="login-form form-signin">
              <div class="form-group">
                <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="username" value="" required autofocus>
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password" value="" required>
              </div>
              <button type="submit" class="btn ">Sign in!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
