
  <!--<button class="btn btn-info add-book" data-toggle="modal" data-target="#myModal" (click)="openBigModal(template)" [disabled]="ischecked">添加驾驶员</button>
  <button class="btn btn-info delete-book" data-toggle="modal" data-target="#myModal2" (click)="deleteDriver()" [disabled]="ischecked">删除驾驶员</button>
  <button class="btn btn-info update-book" data-toggle="modal" data-target="#myModal3" (click)="openUpdateModal(template4)" [disabled]="ischecked">编辑驾驶员信息</button>
  <div class="dropdown">
    <button class="btn btn-default size" data-toggle="dropdown">单页数量
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li (click)="changeSize(5)"><a>5</a></li>
      <li (click)="changeSize(10)"><a>10</a></li>
      <li (click)="changeSize(20)"><a>20</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default sort" data-toggle="dropdown">排序方式
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="changeSort(1)">按Id升序排序</a></li>
      <li><a (click)="changeSort(0)">按Id降序排序</a></li>
    </ul>
  </div>
  <nav aria-label="Page navigation" class="pages">
    <ul class="pagination">
      <li (click)="last()">
        <a aria-label="Previous" >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a *ngFor="let pagenumber of pageli" (click)="jump( $event )">{{pagenumber}}</a></li>
      <li (click)="next()">
        <a aria-label="Next">
          <span aria-hidden="true" >&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="search-page input-group has-feedback">
    <div class="input-group-addon">输入页码:</div>
    <input class="form-control"  [(ngModel)]="currentPage">
    <div class="input-group-addon glyphicon search" (click)="jumpInput()" >
      <span class="glyphicon glyphicon-share-alt"></span>
    </div>
  </div>
  <div class="search-tel input-group has-success">
    <div class="input-group-addon">驾驶员电话:</div>
    <input class="form-control" type="text" [(ngModel)]="userKeyupTelnumber">
    <div class="input-group-addon glyphicon search" (click)="telnumberSerachRender()" >
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </div>
  <div class="search-book input-group has-success">
    <div class="input-group-addon">驾驶员姓名:</div>
    <input class="form-control" type="text" [(ngModel)]="userKeyupDrivername">
    <div class="input-group-addon glyphicon search" (click)="drivernameSearchRender()" >
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </div>
    <table class="table table-bordered table-hover">
      <tbody>
      <tr class="info">
        <th>选中框</th><th>ID</th><th>姓名</th><th>性别</th><th>电话号码</th><th>生日</th><th>身份证号</th><th>婚姻状况</th><th>公司</th>
      </tr>
      <tr *ngFor="let driver of drivers ">
        <th><input type="checkbox" class="checkbox" (change)="putCheckboxInList($event)" value=""></th>
        <th>{{driver.driverid}}</th><th (click)="openDetailModal(template3,$event)">{{driver.drivername}}</th><th>{{driver.driversex}}</th><th>{{driver.drivertelnumber}}</th>
        <th>{{driver.driverbirthday}}</th><th>{{driver.driveridentitynumber}}</th><th>{{driver.drivermaritalstatus}}</th><th>{{driver.drivercompany}}</th>
      </tr>
      </tbody>
    </table>
-->
  <div class="route">
    <div class="table-title">
      <div class="title">
        <i class="iconfont icon-order"></i>
        <span>User Table</span>
      </div>
      <div class="jump-page">
        <div class="input-group-addon">页码</div>
        <input class="form-control" [(ngModel)]="currentPage" (change)="jumpInput()">
      </div>
      <div class="pageli">
        <ul class="pagination">
          <li (click)="last()"><a><span>上一页</span></a></li>
          <li><a *ngFor="let pagenumber of pageli" (click)="jump( $event )">{{pagenumber}}</a></li>
          <li (click)="next()"><a><span>下一页</span></a></li>
        </ul>
      </div>
      <div class="buttons">
        <ul class="handle">
          <li><button class="btn btn-success" (click)="openBigModal(template)" [disabled]="ischecked"><i class="iconfont icon-tianjia">添加</i></button></li>
          <li><button class="btn btn-info" (click)="openUpdateModal(template4)" [disabled]="ischecked"><i class="iconfont icon-bianji">编辑</i></button></li>
          <li><button class="btn btn-danger" (click)="deleteDriver()" [disabled]="ischecked"><i class="iconfont icon-shanchu">删除</i></button></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default sort" data-toggle="dropdown">排序方式
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="changeSort(1)"><i class="iconfont icon-paixu-shuliangshengxu"></i>按Id升序排序</a></li>
          <li><a (click)="changeSort(0)"><i class="iconfont icon-paixu-shuliangjiangxu"></i>按Id降序排序</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default sort" data-toggle="dropdown">每一页数量
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="changeSize(5)">5</a></li>
          <li><a (click)="changeSize(10)">10</a></li>
          <li><a (click)="changeSize(20)">20</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="data-search">
      <div class="search-input">
        <input class="form-control" placeholder="驾驶员姓名检索..." [(ngModel)]="userKeyupDrivername">
        <div class="search-drivername" (click)="drivernameSearchRender()">
          <i class="iconfont icon-sousuo"></i>
        </div>
      </div>
      <div class="search-input">
        <input class="form-control" placeholder="驾驶员电话检索..." [(ngModel)]="userKeyupTelnumber">
        <div class="search-drivername" (click)="telnumberSerachRender()">
          <i class="iconfont icon-sousuo"></i>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr class="info">
        <th></th><th><i class="iconfont icon-ID"></i><span>ID</span></th>
        <th><i class="iconfont icon-xingming"></i><span>姓名</span></th>
        <th><i class="iconfont icon-xingbie"></i><span>性别</span></th>
        <th><i class="iconfont icon-icon-test"></i><span>电话号码</span></th>
        <th><i class="iconfont icon-shengri"></i><span>生日</span></th>
        <th><i class="iconfont icon-credentials_icon"></i><span>身份证号</span></th>
        <th><i class="iconfont icon-hunyindengji"></i><span>婚姻状况</span></th>
        <th><i class="iconfont icon-gongsi"></i><span>公司</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let driver of drivers ">
        <th><input type="checkbox" class="checkbox" (change)="putCheckboxInList($event)" value=""></th>
        <th>{{driver.driverid}}</th><th (click)="openDetailModal(template3,$event)">{{driver.drivername}}</th><th>{{driver.driversex}}</th><th>{{driver.drivertelnumber}}</th>
        <th>{{driver.driverbirthday}}</th><th>{{driver.driveridentitynumber}}</th><th>{{driver.drivermaritalstatus}}</th><th>{{driver.drivercompany}}</th>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- 详情展示 -->
  <ng-template #template3>
    <div class="modal-header">
      <h4 class="modal-title pull-left">驾驶员:{{detailDrivername}}</h4>
      <button class="close pull-right" type="button" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr><th class="bg-primary" style="width: 30%;"><i class="iconfont icon-profile"></i>驾驶员头像</th><th class="bg-primary" style="width: 70%;"><i class="iconfont icon-shuju"></i>驾驶员信息</th></tr>
        </thead>
        <tbody>
        <tr><th rowspan="5"><img [attr.src]="detailsImage" class="detail-img"></th><th class="bg-info"><p><i class="iconfont icon-ID"></i><span>驾驶员ID:<a>{{detailDriverid}}</a></span></p></th></tr>
        <tr><th class="bg-info"><p><i class="iconfont icon-xingming"></i><span>驾驶员姓名:<a>{{detailDrivername}}</a></span></p></th></tr>
        <tr><th class="bg-info"><p><i class="iconfont icon-xingbie"></i><span>性别:<a>{{detailDriversex}}</a></span></p></th></tr>
        <tr><th class="bg-info"><p><i class="iconfont icon-guojia"></i><span>国籍:<a>{{detailDrivernationality}}</a></span></p></th></tr>
        <tr><th class="bg-info"><p><i class="iconfont icon-icon-test"></i><span>电话:<a>{{detailDrivertelnumber}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-shengri"></i><span>驾驶员生日:<a>{{detailDriverbirthday}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-credentials_icon"></i><span>身份证号:<a>{{detailDriveridentitynumber}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-xueli"></i><span>学历:<a>{{detailDriveracademic}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-yingyu"></i><span>英语水平:<a>{{detailDriverenglishskills}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-hunyindengji"></i><span>婚姻状况:<a>{{detailDrivermaritalstatus}}</a></span></p></th></tr>
        <tr><th colspan="2" class="bg-info"><p><i class="iconfont icon-gongsi"></i><span>所属公司:<a>{{detailDrivercompany}}</a></span></p></th></tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()">确定</button>
    </div>
  </ng-template>


  <!-- Modal:添加驾驶员 -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">添加驾驶员</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); driverForm.reset()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="driverForm">
        <div>
          <img id="imagesrc" src="image/panda.jpg">
          <input type="file" id="image" (change)="addUploadPicture()">
        </div>
        <div class="form-group">
          <div class="input-group">
            <select class="form-control driversex" name="driversex" formControlName="driversex" required>
              <option [disabled]=true [selected]=true class="sex">性别</option>
              <option>男</option>
              <option>女</option>
            </select>
            <select class="form-control drivermarry" name="drivermaritalstatus" formControlName="drivermaritalstatus" required>
              <option [disabled]=true [selected]=true class="marry">婚姻状况</option>
              <option>未婚</option>
              <option>已婚</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
              <input class="form-control drivername" id="drivername" name="drivername"  formControlName="drivername" placeholder="驾驶员姓名(2-3位,必填)" required/>
              <input class="drivertelnumber form-control" id="drivertelnumber" name="drivertelnumber" formControlName="drivertelnumber" placeholder="驾驶员电话号码(11位,必填)" required/>
            <div [hidden]="getAddModalValid('drivername')" class="alert alert-danger drivernameerror">姓名为2-3位中文</div>
            <div [hidden]="getAddModalValid('drivertelnumber')" class="alert alert-danger drivertelerror">电话号为11位数字</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control driverbirthday" autocomplete="off" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }" formControlName="driverbirthday" name="driverbirthday" placeholder="驾驶员生日(1998-04-10)" required/>
            <input class="form-control driveridentitynumber" name="driveridentitynumber" formControlName="driveridentitynumber" placeholder="驾驶员身份证号(18位,必填)" required/>
            <div [hidden]="getAddModalValid('driverbirthday')" class="alert alert-danger drivernameerror">生日格式为1998-04-10</div>
            <div [hidden]="getAddModalValid('driveridentitynumber')" class="alert alert-danger drivertelerror">身份证为18位数字</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control drivercompany" name="drivercompany" formControlName="drivercompany" placeholder="驾驶员所属公司(必填)" required>
            <input class="form-control driveracademic notRequired" name="driveracademic" formControlName="driveracademic" placeholder="驾驶员学历(选填)">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control driverenglishskills notRequired" name="driverenglishskills" formControlName="driverenglishskills" placeholder="驾驶员英语水平(选填)" >
            <input class="form-control drivernationality notRequired" name="drivernationality" formControlName="drivernationality" placeholder="驾驶员国籍(选填)">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="foot">
        <button type="button" class="btn-primary btn pull-left" (click)="addDriver(); driverForm.reset()" [disabled]="!driverForm.valid">保存</button>
        <button type="button" class="btn-default btn pull-right" (click)="modalRef.hide(); driverForm.reset()">关闭</button>
      </div>
    </div>
  </ng-template>

  <!-- 修改驾驶员信息 -->
  <ng-template #template4>
    <div class="modal-header">
      <h4 class="modal-title pull-left">修改驾驶员信息</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); driverForm.reset()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateDriverForm" >
        <div>
          <img id="imagesrc2" src="">
          <input type="file" id="image2" (change)="updatePicture()">
        </div>
        <div class="form-group">
          <div class="input-group">
            <select class="form-control driversex" name="driversex" formControlName="driversex" required>
              <option [disabled]=true [selected]=true class="sex">性别</option>
              <option>男</option>
              <option>女</option>
            </select>
            <select class="form-control drivermarry" name="drivermaritalstatus" formControlName="drivermaritalstatus" required>
              <option [disabled]=true [selected]=true class="marry">婚姻状况</option>
              <option>未婚</option>
              <option>已婚</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control drivername"  name="drivername"  formControlName="drivername" placeholder="驾驶员姓名(2-3位,必填)" required/>
            <input class="drivertelnumber form-control"  name="drivertelnumber" formControlName="drivertelnumber" placeholder="驾驶员电话号码(11位,必填)" required/>
            <div [hidden]="getUpdateModelValid('drivername')" class="alert alert-danger drivernameerror">姓名为2-3位中文</div>
            <div [hidden]="getUpdateModelValid('drivertelnumber')" class="alert alert-danger drivertelerror">电话号为11位数字</div>
          </div>
        </div>



        <div class="form-group">
          <div class="input-group">
            <input class="form-control driverbirthday" autocomplete="off" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }" formControlName="driverbirthday" name="driverbirthday" placeholder="驾驶员生日(1998-04-10)" required/>
            <input class="form-control driveridentitynumber" name="driveridentitynumber" formControlName="driveridentitynumber" placeholder="驾驶员身份证号(18位,必填)"  required/>
            <div [hidden]="getUpdateModelValid('driverbirthday')" class="alert alert-danger drivernameerror">生日格式为1998-04-10</div>
            <div [hidden]="getUpdateModelValid('driveridentitynumber')" class="alert alert-danger drivertelerror">身份证为18位数字</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control drivercompany" name="drivercompany" formControlName="drivercompany" placeholder="驾驶员所属公司(必填)" required>
            <input class="form-control driveracademic notRequired" name="driveracademic" formControlName="driveracademic" placeholder="驾驶员学历(选填)">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control driverenglishskills notRequired" name="driverenglishskills" formControlName="driverenglishskills" placeholder="驾驶员英语水平(选填)" >
            <input class="form-control drivernationality notRequired" name="drivernationality" formControlName="drivernationality" placeholder="驾驶员国籍(选填)">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-primary btn pull-left" (click)="updateDriver1(); driverForm.reset()" [disabled]="!updateDriverForm.valid">保存</button>
      <button type="button" class="btn-default btn pull-right" (click)="modalRef.hide(); driverForm.reset()">关闭</button>
    </div>
  </ng-template>
