@import "../../assets/font_g34q13x5lr/iconfont.css";
.pages ul{
  display: block;
  margin: 5px 800px;
}
.pages ul li{
  cursor: pointer;
}
table tbody tr th{
  cursor: pointer;
  font-family: 幼圆;
  font-weight: 600;
}
.search-book{
  width: 200px;
  float: right;
  margin-top: 5px;
}
.search-book input{
  width: 100px;
  float: left;
}
.search-book .search{
  position: relative;
  top: 0px;
}
.add-book{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.delete-book{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.update-book{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.table{
  margin-top: 50px;
  background: #fff;
}
.dropdown{
  display: block;
  float: left;
}
#optionsRadios1,#u-optionsRadios1{
  margin-left: 20px;
  margin-top: 10px;
}
#optionsRadios2,#u-optionsRadios2{
  margin-left: 40px;
  margin-top: 10px;
}
#optionsRadios3,#u-optionsRadios3{
  margin-left: 20px;
  margin-top: 10px;
}
#optionsRadios4,#u-optionsRadios4{
  margin-left: 20px;
  margin-top: 10px;
}
.size{
  margin-left: 20px;
  margin-top: 5px;
}
.dropdown li a{
  cursor: pointer;
}
.sort{
  margin-left: 20px;
  margin-top: 5px;
}
.picture{
  width:568px;
  height:200px;
}
.picture input{
  display: block;
  float: left;
  width:200px;
  height: 200px;
}
.picture img{
  width: 200px;
  height: 200px;
  display: block;
  float: right;
}
.search-page {
  width: 200px;
  float: left;
  margin-top: 5px;
  margin-left: 100px;
  cursor: pointer;
}
.search-page input{
  width: 100px;
  float: left;
}
.search-page .search{
  position: relative;
  top: 0px;
  cursor: pointer;
}
.search-tel{
  width: 200px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.search-tel input{
  width: 100px;
  float: left;
}
.search-tel .search{
  position: relative;
  top: 0px;
  cursor: pointer;
}
.detail-img{
  width: 170px;
  height: 235px;
}
.driversex{
  margin-top: 10px;
  width: 424px;
}
.drivermarry{
  margin-top: 10px;
  margin-left: 20px;
  width: 424px;
}
.drivername {
  width: 424px;
}
.drivernameerror{
  width:424px;
  float: left;
}
.drivertelnumber{
  width: 424px;
  margin-left: 20px;
}
.drivertelerror{
  width: 424px;
  margin-left: 20px;
  float: right;
}
.driverbirthday{
  width: 424px;
}
.driveridentitynumber{
  width: 424px;
  margin-left: 20px;
}
.drivercompany{
  width: 424px;
}
.driveracademic{
  width: 424px;
  margin-left: 20px;
}
.driverenglishskills{
  width: 424px;
}
.drivernationality{
  width: 424px;
  margin-left: 20px;
}
#image, #image2{
  opacity: 0;
  position: absolute;top:15px;left: 0px;
  width:100%;
  height: 200px;
}
#imagesrc, #imagesrc2{
  width: 100%;
  height: 200px;
}
.sex marry{
  display: none;
}
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}
input.ng-invalid, select.ng-invalid{
  border-left: 5px solid #a94442;
}
.notRequired{
  border-left: 5px solid #42A948;
}
.condition{
  width: 761px;
  margin-left: 54px;
  height: 34px;
  text-align: center;
  line-height: 5px;
}
.closeadd{
  position: absolute;left:830px;top:557px;
}
.route{
  border: 1px solid #F5F5F5;
  width:100%;
  height: 93%;
}
.route hr{
  width: 80%;
  margin-left: 50px;
}
.route .table-title{
  margin-top: 40px;
  width: 100%;
  height:50px;
}
.route .table-title i{
  color: #f1b9ce;
  cursor: pointer;
  font-size: 30px;
  margin-left: 47px;
}
.route .table-title span{
  font-family: 幼圆;
  font-size: 30px;
  margin-left: 10px;
  color: #9a8b85;
}
.route .jump-page{
  width: 200px;
  height: 50px;
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 50px;
}
.route .jump-page .input-group-addon{
  cursor: pointer;
  margin-top: 15px;
  float: left;
  width: 50px;
  height: 35px;
}
.route .jump-page input{
  margin-top: 15px;
  width: 100px;
  display: block;
  float: left;
  height: 35px;
}
.route .table-title .title{
  display: block;
  float: left;
  margin-top: 20px;
}
.route .handle {
  list-style: none;
  display: block;
  float: left;
  margin-right: 300px;
  margin-top: 10px;
  width: 300px;
}
.route .handle li{
  display: inline;
}
.route .handle button{
  width:60px; height: 40px;
  border-radius: 0%;
  margin-left: 5px;
  margin-top: 15px;
}
.route .handle i{
  font-size: 15px;
  color: white;
  margin-left: -5px;
}
.route .dropdown{
  width: 100px;
  float: left;
  display: block;
  margin-top: 30px;
  margin-left: 10px;
}
.route .dropdown i{
  margin-left: 0px;
  font-size: 15px;
  color: black;
}
.route .dropdown li{
  cursor: pointer;
}
.route .table{
  width: 80%;
  margin-left: 50px;
  font-family: 幼圆;
  margin-top: -5px;
}
.route .table-title .pageli{
  margin-left: 50px;
  width: 400px;
  height: 60px;
  display: block;
  float: left;
  margin-top: 5px;
}
.route .pagination{
  display: block;
  float: left;
  width:400px;
  margin-bottom: -10px;
  margin-left: 20px;
  cursor: pointer;
}
.route .buttons{
  width: 240px;
  height: 60px;
  display: block;
  float: left;
}
.route .pagination span{
  font-family: 幼圆;
  color: black;
  font-size: 18px;
  margin-left: 2px;
}
.route .pagination a{
  font-family: 幼圆;
  color: black;
  font-size: 18px;
  margin-left: 2px;
}
.route .data-search{
  width: 1380px;
  height: 50px;
  margin-left: 50px;
  margin-top: -20px;
}
.route .data-search .search-title i{
  font-size: 30px;
  color: #55acee;
}
.route .data-search span{
  margin-left: 5px;
  font-family: 幼圆;
  font-size: 25px;
  color: #9a8b85;
}
.route .search-input{
  width: 200px;
  height: 30px;
  display: block;
  float: left;
}
.route .search-input .form-control{
  width: 160px;
  height: 32px;
  margin-top: 5px;
  display: block;
  float: left;
}
.route .search-input i{
  font-size: 25px;
  color: black;
}
.route .search-input .search-drivername{
  width: 30px;
  height: 32px;
  display: block;
  float: left;
  margin-top: 4px;
  margin-left: -30px;
}
.route table i{
  color: black;
  font-size: 17px;
}
.route table span{
  margin-left: 10px;
}
.route table th:first-child{
  width: 50px;
  text-align: center;
}
.route table input[type="checkbox"]{
  border-radius: 0%;
  width: 15px;
  height: 15px;
}
.route table th{
  height: 20px;
}
.modal-body .table span{
  margin-left: 5px;
}
